.section {
  background-color: var(--Primary-Black);
}

.containerProjects {
  margin: 0 auto;
  padding: 80px 32px 120px 32px;
  width: 1216px;
  color: var(--Primary-White);
  text-align: center;
}

.projectsList {
  display: flex;
  gap: 140px;
  flex-direction: column;
  text-align: left;
  margin-top: 100px;
}
.projectsTitle {
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.96px;

  & .projectsTitleMe {
    font-weight: 800;
  }
}

.projectsList .projectsListItem:nth-child(even) {
  flex-direction: row-reverse;
}

.projectsListItem {
  display: flex;
  gap: 104px;
}
.projectsListItemContainer {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.projectsListImage {
  display: block;
  width: 530px;
  height: 397.735px;
  flex-shrink: 0;
  object-fit: cover;

  border-radius: 18.761px;

  box-shadow: 0px 8px 18px -6px rgba(24, 39, 75, 0.12),
    0px 12px 42px -4px rgba(24, 39, 75, 0.12);
}
.projectNumber {
  margin-top: 50px;
  color: var(--Primary-White, #fff);
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.96px;
}
.projectTitle {
  color: var(--Primary-White, #fff);

  font-size: 32px;

  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.64px;
}

.projectDecription {
  color: var(--Zinc-500, #71717a);

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.projectLink {
  display: contents;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .containerProjects {
    margin: 0 auto;
    width: 768px;
    padding: 40px 16px;
  }

  .projectsList {
    margin-top: 40px;
    gap: 70px;
  }
  .projectsListItem {
    gap: 60px;
  }
  .projectsListItemContainer {
    gap: 14px;
  }
  .projectsListImage {
    width: 400px;
    height: 357.735px;
  }
  .projectNumber {
    font-size: 28px;
    margin-top: 0px;
  }

  .projectTitle {
    font-size: 28px;
  }
}

@media (min-width: 380px) and (max-width: 767px) {
  .containerProjects {
    padding: 60px 16px 40px;
    min-width: 360px;
    max-width: 480px;
    width: 100%;
  }
  .projectsTitle {
    font-style: 28px;
    line-height: 32px; /* 114.286% */
    letter-spacing: -0.56px;
  }
  .projectsList {
    margin-top: 40px;
    gap: 28px;
  }
  .projectsListItem {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px;
  }

  .projectNumber {
    margin-top: 28px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.48px;
  }

  .projectTitle {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.4px;
  }

  .projectsListImage {
    width: 100%;
    flex: 1 0 0;
  }
}
