.section {
  padding: 130px 32px 100px 32px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  width: 1216px;
}

.title {
  color: var(--Primary-Black, #000);
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.96px;

  & .titleSkills {
    font-weight: 800;
  }
}

.skillsList {
  display: flex;
  justify-content: center;
  gap: 70px;

  margin-top: 80px;

  list-style: none;
}

.skillsListItem {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;

  width: 186px;
  height: 186px;
  padding: 24px;
  border: 1px solid var(--Primary-Black);
  border-radius: 2px;

  border-radius: 4px;
  border: 2px solid var(--Primary-Black, #000);
  background-color: var(--Primary-White, #fff);
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: var(--Primary-Black, #000000);
    color: var(--Primary-White);

    .skillsLogo {
      filter: invert(1);
      transition: filter 0.3s ease;
    }
  }
}

.skillsLogo {
  transition: filter 0.3s ease;
}

.skillDecription {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.4px;
}
