.section {
  display: flex;
  gap: 80px;
  background-color: var(--Primary-White);
  margin: 0 auto;
  padding: 60px 0 60px 0;
  width: 1216px;
  color: var(--Primary-Black);
}
.aboutImage {
  background-image: url("../../img/About-img.svg");
  width: 530px;
  height: 572px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.containerAbout {
  width: 610px;
}

.aboutTitle {
  margin-top: 20px;
  margin-bottom: 40px;

  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.96px;

  & .aboutTitleMe {
    font-weight: 800;
  }
}

.aboutDescription {
  color: var(--Zinc-500, #71717a);

  font-size: 16px;

  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;

  text-align: start;
}

.containerAbout p:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .section {
    width: 768px;
    padding: 40px 16px;

    gap: 30px;
  }
  .aboutImage {
    margin-top: 125px;
    width: 279px;
    height: 301px;
  }
  .containerAbout {
    width: 368px;
  }
  .experienceList {
    margin-top: 40px;
  }
}

@media (min-width: 340px) and (max-width: 767px) {
  .section {
    padding: 40px 16px;
    min-width: 340px;
    max-width: 480px;
    width: 100%;
    flex-direction: column;
    gap: 0;
  }
  .containerAbout {
    width: 100%;
  }

  .aboutImage {
    height: auto;
    width: 100%;
    max-width: 448px;

    aspect-ratio: 530 / 572;
  }
  .aboutTitle {
    margin-top: 40px;
    font-size: 28px;
    line-height: 32px; /* 114.286% */
    letter-spacing: -0.56px;
  }
}
