/* @import "normalize.css"; */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0 auto;
  height: 100%;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

:root {
  --Primary-Black: black;
  --Zinc-500: #71717a;
  --Primary-White: #fff;
}
.no-scroll {
  overflow: hidden;
}
